<div class="page-header">
	<h1>Bem vindo! <small>não sei o que vai ter no site, mas é legal!</small></h1>
</div>
<div class="row">
	<div class="span10">
		<h2>WHISKAS</h2>
		BLA BLA BLA BLA, WHISKAS SACHE, BLA BLA BLA BLA, 
	</div>
	<div class="span4">
	<h3>Talvez você goste disto<small> (ou não)</small></h3>
		<div>aaa</div>
	</div>
</div>